[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "br.com.radioibiza.player4.twa",
      "sha256_cert_fingerprints": [
        "SUBSTITUIR_PELO_SHA256_COPIADO_DA_PLAY_CONSOLE"
      ]
    }
  }
]
